*{
    margin: 0;
    padding: 0;
}
body{
    background-image:  url(/img/pexels-pixabay-220769.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
}
.par-cont{
    display: flex;
    justify-content: center;
}
.container{
    position: absolute;
    top: 10%;
    justify-self: center;
    color: white;
}
.container h1{
    display: inline-block;
    border-bottom: 5px solid purple;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.box{
    margin: 20px 0px;
    width: 100%;
    border-bottom: 2px solid purple;

}
.box input{
    background: none;
    outline: none;
    border: none;
    padding: 5px 10px;
    width: 75%;
    color: white;
    font-size: 17px;
}
i{
    padding: 5px;
    padding-left: 0;
}
.btn{
    padding: 5px 10px;
    color: white;
    background: none;
    border: 2px solid purple;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}
.btn:hover{
    color: purple;
    border: 2px solid white;
    background: white;
    opacity: 0.5;
}
.btn1{
    margin-right: 10px;
}








body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

#recordingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#startButton,
#stopButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

#stopButton {
    background-color: #dc3545;
}

#recordedVideo {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
}

#saveButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}
